<br/><div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @student_books %>
    </div>
    <%= will_paginate @student_books, previous_label:h("<"), next_label:h(">"), :container => false, renderer: BootstrapPagination::Rails %>
 </div>
<h2>List Of All Books Management</h2>
<table class="table table-bordered table-hover table-striped table-responsive">
	<tr>
		<th><strong>Student Name</strong></th>
		<th><strong>Book Name</strong></th>
		<th><strong>Issued On</strong></th>
		<th><strong>Sumitted Date</strong></th>
		<th><strong>Days To Left</strong></th>
		<th><strong>Overdue</strong></th>
		<th>Actions</th>
	</tr>
	<% @student_books.each do |sb| %>
		<tr>
			<td><%= sb.student.name %></td>
			<td><%= sb.book.name %></td>
			<td><%= sb.created_at.strftime("%d-%m-%y %H:%M") %></td>
			<td><%= sb.overduedate.strftime("%d-%m-%y %H:%M") %></td>
			<td><%= sb.overduecompleted %></td>
			<td><%= sb.daystoleft %></td>
			<td><%= link_to 'Edit', edit_book_management_path(sb.id) %>	</td>
		</tr>
	<% end %>
</table>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @student_books %>
    </div>
    <%= will_paginate @student_books, previous_label:h("<"), next_label:h(">"), :container => false, renderer: BootstrapPagination::Rails %>
 </div>

<%= link_to "New Book Management", new_book_management_path, :class => "btn btn-info btn-sm" %> 
<%= link_to "Home", root_path, :class => "btn btn-info btn-sm" %>
<br/><br/>


